/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #f3f3f3;
  margin: 0;
  height: 100%;
  overflow: auto;
}

mat-form-field {
  width: 100%;
}

mat-card-actions {
  text-align: right;
}

mat-card {
  width: calc(100% - 70px);
  height: calc(100% - 70px);
  background: #2F0B1F !important;
  color: white !important;
}

.header-title {
  margin-bottom: 50px !important;
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  background-color: #55BA52;
}

.mat-toolbar.mat-primary {
  background: #2F0B1F;
  color: #fff;
}

.mat-spinner {
  margin: 0 auto;
  transform: scale(.6);
}

.section{
  &__name{
    font-size: 2em !important;
    color: #5a5a5a;
  }
}

.mat-card-image {
  width: calc(100% + 32px);
  margin: 0 -16px 0 -16px;
  height: 225px;
  object-fit: cover;
  object-position: center;
}

.mat-card-header-text{
  margin: 0 !important;
}

.mat-card-header .mat-card-title {
  font-size: 14px;
  margin: 10px 0 0 0 !important;
}

.logo{
  width: 480px;
}

.bg-image-container__image {
  display: flex;
  align-items: center;
  justify-content: center;
}
