/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #303030;
  margin: 0;
  height: 100%;
  overflow: auto;
}

mat-form-field {
  width: 100%;
}

mat-card-actions {
  text-align: right;
}

mat-card {
  width: calc(100% - 70px);
  height: calc(100% - 70px);
}