.spacer {
  flex: 1 1 auto;
}

.nav-button {
  margin-right: 10px;
}

.main {
  margin: 50px auto;
  margin-top: 50px;
  max-width: 1150px;
}

.bg-image-container__image {
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  opacity: .34;
}
