<mat-toolbar color="primary">
  <a [routerLink]="['/']" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </a>
  <a [routerLink]="['/']" mat-button>
    <h1>{{ title }}</h1>
  </a>
  <span class="spacer"></span>
  <a
    *ngIf="!(isAuthenticated$ | async)"
    [routerLink]="['/signup']"
    mat-button
    class="nav-button"
  >
    Sign Up
  </a>
  <button
    *ngIf="!(isAuthenticated$ | async)"
    [routerLink]="['/signin']"
    mat-button
    class="nav-button"
  >
    Local Sign In
  </button>
  <button
    *ngIf="!(isAuthenticated$ | async)"
    mat-button
    class="nav-button"
    (click)="signIn()"
  >
    Facebook Sign In
  </button>
  <span *ngIf="isAuthenticated$ | async"> Hi, {{ user?.name }} </span>
  <button
    *ngIf="isAuthenticated$ | async"
    mat-button
    class="nav-button"
    (click)="logout()"
  >
    Log out
  </button>
</mat-toolbar>

<div class="main">
  <router-outlet></router-outlet>
</div>
