<mat-toolbar color="primary">
  <a [routerLink]="['/']" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </a>
  <span class="spacer"></span>
  <a
    *ngIf="(isAuthenticated$ | async) && !localAuth"
    [routerLink]="['/photos']"
    mat-button
    class="nav-button"
  >
    Photos
  </a>
  <a
    *ngIf="(isAuthenticated$ | async) && !localAuth"
    [routerLink]="['/posts']"
    mat-button
    class="nav-button"
  >
    Posts
  </a>
  <a
    *ngIf="isAuthenticated$ | async"
    [routerLink]="['/users']"
    mat-button
    class="nav-button"
  >
    Users
  </a>
  <a
    *ngIf="!(isAuthenticated$ | async)"
    [routerLink]="['/signup']"
    mat-button
    class="nav-button"
  >
    Sign Up
  </a>
  <button
    *ngIf="!(isAuthenticated$ | async)"
    [routerLink]="['/signin']"
    mat-button
    class="nav-button"
  >
    Local Log In
  </button>
  <button
    *ngIf="!(isAuthenticated$ | async)"
    mat-button
    class="nav-button"
    (click)="signIn()"
  >
    Log In With Facebook
  </button>
  <span *ngIf="isAuthenticated$ | async"> Hi, {{ user?.name }} </span>
  <button
    *ngIf="isAuthenticated$ | async"
    mat-button
    class="nav-button"
    (click)="logout()"
  >
    Log out
  </button>
</mat-toolbar>

<div style="background-color: rgb(0, 0, 0); height: 290px">
  <div
    class="bg-image-container__image"
    style="background-image: url('assets/banner.jpeg'); opacity: 1"
  ></div>
</div>

<div class="main">
  <router-outlet></router-outlet>
</div>
