<mat-card>
  <mat-card-title>
    <h2 class="header-title">Sign Up</h2>
  </mat-card-title>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card-content>
      <mat-error *ngIf="loginInvalid">
        The email and password were not recognized
      </mat-error>
      <p>
        <mat-form-field class="full-width-input">
          <input
            matInput
            placeholder="Email"
            formControlName="email"
            required
          />
          <mat-error> Please provide a valid email address </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="full-width-input">
          <input
            matInput
            type="password"
            placeholder="Password"
            formControlName="password"
            required
          />
          <mat-error> Please provide a valid password </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Name" formControlName="name" required />
          <mat-error> Please provide a valid name </mat-error>
        </mat-form-field>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Signup</button>
    </mat-card-actions>
  </form>
</mat-card>
