<mat-list>
  <mat-grid-list cols="3" rowHeight="2:3">
    <mat-grid-tile *ngFor="let post of posts">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{ post?.title }}</mat-card-title>
          <mat-card-subtitle>{{ post?.type }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image height="300" [src]="post?.media?.image?.src" />
        <mat-card-content>
          <p>
            {{ post?.description }}
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</mat-list>
